{% extends "base.html" %}

{% block contents %}
<div class="row mt-5">
    <div class="col-12 text-center">
        <h1>회원가입</h1>
    </div>
</div>
<div class="row mt-5">
    <div class="col-12">
        {{ error }}
    </div>
</div>
<div class="row mt-5">
    <div class="col-12">
        <form>
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label> 
                {% if field.label == '아이디' %}
                    <button name="checkID" type="submit" class='btn-outline-dark btn-sm' formaction="." formmethod="post" formtarget="_self">
                        중복확인</button>
                    {% else %}
                    {%endif%}
                    {% if field.label == '닉네임' %}
                    <button name="checkName" type="submit" class='btn-outline-dark btn-sm' formaction="."  formmethod="post">
                        중복확인</button>
                    {% else %}
                    {%endif%}
                    {% if field.label == '이메일' %}
                    <button name="checkMail" type="submit" class='btn-outline-dark btn-sm' formaction="."  formmethod="post">
                        중복확인</button>
                    {% else %}
                    {%endif%}
                <input type="{{ field.field.widget.input_type }}" class="form-control" id="{{ field.id_for_label }}"
                    placeholder="{{ field.label }}" name="{{ field.name }}" />
            </div>
            {% if field.errors %}
            <span style="color: red">{{ field.errors }}</span>
            {% endif %}
            {% endfor %}
            <button name="signup" type="submit" class="btn btn-primary" formaction="." formmethod="post">회원가입</button>
        </form>
    </div>
</div>
{% endblock %}